@media only screen and (max-width: 1262px) {
}
@media only screen and (max-width: 1024px) {
	
}


@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
  body{
    overflow: visible;
  }
}

@media only screen and (max-width: 736px) {

  .actives {
    position: absolute;
    margin-right: -315px;
  }
  .sidebar__head__hamburger {
    right: -38px;
  }
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}