.beacons-uri .content__wrapper__item .table>tbody>tr>td{
  vertical-align: middle;
}
.beacons-uri .content__wrapper__item .table thead{
  text-transform: uppercase;
  color: #777777;
  font-size: 12px;
  font-weight: 700;
}
.beacons-uri .content__wrapper__item .table tr td button{
  width: 78px;
  height: 26px;
  background-color: #85c875;
  border: none;
  outline: none;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 400;
  border-radius: 30px;
}