.create-beacons-page{
  .table thead tr td{
    color: #777777;
    font-size: 12px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
  .table tr td{
    vertical-align: middle;
    line-height: 48px;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    a{
      color: #777;
    }
  }
}