.sidebar {
  z-index: 1;
  display: block;
  position: relative;
  float: left;
  width: 315px;
  height: 100vh;
  color: #fff;
  background-color: #33414e;

  &__head {
    background-color: #85c875;
    width: 100%;
    text-align: center;

    a {
      font-family: $BebasNeueB;
      font-size: 36px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
    }

    &__hamburger {
      width: 37px;
      height: 37px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #85c875;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      transition: 300ms ease;
      right: -15px;
      top: 10px;
      &:hover {
        transform: scale(1.1);
        transition: 300ms ease;
      }
      .active {
        left: -300px;
      }
      a {
        display: block;
        color: #fff;
        line-height: 40px;
        font-size: 22px;
      }

    }
  }
  &__profile {
    width: 100%;
    height: 120px;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    background-color: #293744;
    &__avatar {
      margin-left: 25px;
      width: 80px;
      height: 80px;
      display: block;
      float: left;
      position: relative;
      border: 1px solid #85c875;
      background-color: #343d46;
      border-radius: 50%;
      img {
        width: 100%;
        object-fit: cover;
        padding: 5px;
      }
    }
    &__initial {
      display: block;
      position: relative;
      float: left;
      margin-top: 17px;
      height: 12px;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 400;
      margin-left: 8px;
      font-style: italic;
      span {
        font-weight: 700;
      }
      p {
        color: #8fa0b1;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 12px;
        font-style: italic;
        margin: 10px 0 0 0;
      }
    }
  }
  &__category {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    a {
      img {
        margin-top: -6px;
        margin-right: 25px;
        width: 17px;
        object-fit: cover;
      }
      i{
        margin-right: 25px;
        width: 17px;
        display: inline-block;
      }
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 60px;
      line-height: 59px;
      color: #ededec;
      font-size: 16px;
      font-weight: 400;
      padding-left: 32px;
      &:hover {
        border-left: 8px solid #85c875;
        padding-left: 24px;
        transition: 200ms ease;

      }
    }
    .active {
      border-left: 8px solid #85c875;
      padding-left: 24px;
    }
    &__border {
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      background-color: #253340;
    }
  }

}

.actives {
  position: absolute;
  left: -290px;
  transition: 300ms ease;
  margin-right: -315px;
}

.actives .sidebar__head__hamburger {
  transform: rotate(180deg);
  transition: 300ms ease;
}

.content {
  position: relative;
  display: block;
  float: left;
  background-color: #f1f1f1;
  width: calc(100% - 315px);
  height: 100vh;
  &__header {
    height: 60px;
    background-color: #ffffff;
    width: 100%;
    display: block;
    position: relative;
    float: left;
    border-bottom: 1px solid #ccc;
    &__massage {
      display: block;
      position: relative;
      float: left;
      width: 80px;
      height: 100%;
      border-right: 1px solid #ccc;
      text-align: center;
      a {
        display: block;
        position: relative;

        span {
          color: #5e656b;
          font-size: 25px;
          display: inline-block;
          position: relative;
          line-height: 59px;
          .push {
            display: inline-block;
            position: absolute;
            width: 27px;
            height: 20px;
            background-color: #ff6633;
            border-radius: 30px;
            font-size: 12px;
            color: #fff;
            line-height: 19px;
            top: 10px;
            left: 12px;
          }
        }
      }
    }
    &__search{
      display: block;
      position: relative;
      float: right;
      height: 100%;
      margin-right: 30px;
      a{
        color: #666;
        font-size: 22px;
        display: inline-block;
        line-height: 59px;
      }
      input[type="search"]{
        border: none;
        border-bottom: 1px solid #666;
        font-size: 16px;
        color: #666;
        display: none;
      }
    }
    &__user {
      display: block;
      position: relative;
      float: right;
      width: 168px;
      height: 100%;
      border-left: 1px solid #ccc;

      &__photo{
        width: 42px;
        height: 42px;
        line-height: 59px;
        margin-left: 23px;
        float: left;
        cursor: pointer;
        img{
          width: 100%;
          object-fit: cover;
        }
      }
      .names{
        display: block;
        position: relative;
        float: left;
        height: 100%;
        line-height: 60px;
        cursor: pointer;
        color: #666666;
        font-family: "Open Sans", sans-serif;
        margin-left: 12px;
        font-size: 16px;
        font-weight: 600;
        font-style: italic;
        .fa-caret-down{
          color: #666666;
          font-size: 16px;
        }
      }
      .dropdown-menu{
        position: relative;
        box-shadow: none;
        border-radius: 0;
        .fa{
          color: #666;
          margin-right: 10px;
          font-size: 15px;
        }
      }
    }

  }
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 28px 28px;
    &__item{
      position: relative;
      float: left;
      width: 100%;
      background: #fff;
      box-shadow: 0 0 5px rgba(12, 6, 14, 0.1);
    }
  }
}

.active-content {
  width: calc(100% - 25px);
  margin-left: 25px;
}


